.bg-image {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../img/bg-image2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    height: 2000px;
    width: inherit;
}